@charset "UTF-8";
/* reset */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Pacifico&subset=korean");
body, header, footer, section, nav, article, main, a, div, h1, h2, h3, h4, ul, li, dl, dt, dd, p, form, fieldset, legend, label, input, span, img, strong, video, address, i { margin: 0; padding: 0; box-sizing: border-box; }

header, footer, article, section, nav, main { display: block; }

ul, ol, dl, li { list-style: none; }

img, fieldset { border: none; }

h1, h2, h3, h4, h5, h6 { font-weight: normal; }

address { font-style: normal; }

input { -webkit-appearance: none; -moz-appearance: none; -o-appearance: none; appearance: none; font-size: inherit; }

input::-ms-check { display: none; }

input, img, i { vertical-align: middle; }

button { -webkit-appearance: none; appearance: none; padding: 0; border: 0; text-transform: none; cursor: pointer; }

button > span { position: relative; }

a:link, a:visited { text-decoration: none; color: inherit; }

a:hover, a:active, a:focus { text-decoration: underline; color: inherit; }

.skip { overflow: hidden; visibility: hidden; position: absolute; left: -9999px; width: 1px; height: 1px; font-size: 0; line-height: 0; }

/* skip navigation */
.skipnavi { position: absolute; width: 100%; z-index: 9999; }

.skipnavi a { position: absolute; top: -100px; }

.skipnavi a:hover, .skipnavi a:active, .skipnavi a:focus { display: block; top: 0; width: 100%; padding: 10px 0; text-align: center; font-size: 16px; color: #fff; background: #333; }

/* clearfix */
.clearfix:after { content: ''; display: block; clear: both; }

/* color */
/* font */
html, body { font-family: 'Noto Sans KR', '돋움', dotum, sans-serif; font-size: 62.5%; }

/* common 공통 */
.wrap { overflow: hidden; position: relative; min-width: 360px; font-size: 1.6rem; color: #333; }

.wrap.darkmode { color: #fff; background-color: #222; }

.wrap .inner { position: relative; max-width: 1200px; margin: 0 auto; padding: 5% 20px; }

.wrap .tit { font-family: 'Pacifico', cursive, '돋움', dotum, sans-serif; font-size: 5rem; text-align: center; }

.wrap .f-left { float: left; }

.wrap .f-right { float: right; }

.bg-eff-box .bg-eff-circle { position: absolute; display: inline-block; border-radius: 42%; }

/* header */
.cont-top { position: relative; color: #fff; background: url(../images/cont-top-bg.png) no-repeat 50% 50%/cover; background-color: #e88f0c; }

.darkmode .cont-top { background-color: #333; }

.cont-top .inner { padding: 20% 20px 25% 20px; }

.cont-top .btn-darkmode-wrap { position: absolute; top: 30px; right: 20px; display: inline-block; font-size: 0; }

.cont-top .btn-darkmode-wrap i { margin-right: 5px; font-size: 18px; vertical-align: top; }

.cont-top .btn-darkmode-wrap .btn-wrap { position: relative; display: inline-block; }

.cont-top .btn-darkmode-wrap .btn-wrap .btn-darkmode { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0, 0, 0, 0); }

.cont-top .btn-darkmode-wrap .btn-wrap .btn-darkmode:checked + label { background-color: #fff; }

.cont-top .btn-darkmode-wrap .btn-wrap .btn-darkmode:checked + label + .btn-handle { background-color: #333; }

.cont-top .btn-darkmode-wrap .btn-wrap label { display: inline-block; width: 45px; height: 20px; padding: 4px; border-radius: 20px; cursor: pointer; background-color: #c3c3c3; }

.cont-top .btn-darkmode-wrap .btn-wrap .btn-handle { position: absolute; top: 4px; left: 4px; display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: #fff; }

.cont-top .tit-box { text-align: center; }

.cont-top .tit-box .tit { font-size: 10rem; }

.cont-top .tit-box .txt { font-size: 2rem; }

.cont-top .arrow { position: absolute; bottom: 60px; left: 50%; transform: translate(-50%, 0); }

/* container */
/* intro */
.intro { position: relative; }

.intro .inner { padding: 10% 20px 7% 20px; }

.intro .profile-wrap { position: relative; margin-top: 5%; }

.intro .profile-wrap .profile-img { width: 50%; }

.intro .profile-wrap .profile-img .profile { position: relative; display: block; width: 70%; height: 0; margin: 0 auto; padding-bottom: 70%; box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7); background: url(../images/profile.png) no-repeat 0 0/100% 100%; }

.intro .profile-wrap .profile-img .profile:after { content: ''; position: absolute; top: 50px; left: -50px; display: inline-block; width: 84px; height: 26px; background: url(../images/bg-eff-wave-01.png) no-repeat 0 0; }

.intro .profile-wrap .profile-info { width: 50%; }

.intro .profile-wrap .profile-info p { padding-left: 15%; font-size: 1.8rem; }

.intro .bg-eff-box.active span { -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -o-transform: rotate(360deg); -ms-transform: rotate(360deg); transform: rotate(360deg); }

.intro .bg-eff-box .bg-eff-circle-01 { top: 100px; left: -250px; width: 290px; height: 290px; background: #e88f0c; }

.intro .bg-eff-box .bg-eff-circle-01:before { content: ''; position: absolute; display: inline-block; width: 270px; height: 270px; border-radius: 48%; background: #fcbe62; transform-origin: 0% 40%; opacity: 0.8; top: 20px; left: 15px; }

.intro .bg-eff-box .bg-eff-circle-01:after { content: ''; position: absolute; display: inline-block; width: 290px; height: 290px; border-radius: 45%; background: #fcbe62; transform-origin: 50% 45%; opacity: 0.6; top: -18px; left: 8px; }

.intro .bg-eff-box .bg-eff-circle-02 { bottom: 130px; right: -100px; width: 120px; height: 120px; background: #60c4f2; }

.intro .bg-eff-box .bg-eff-circle-02:before { content: ''; position: absolute; display: inline-block; width: 120px; height: 120px; border-radius: 48%; background: #92ceea; transform-origin: 50% 42%; opacity: 1; top: 10px; left: 4px; }

.intro .bg-eff-box .bg-eff-circle-02:after { content: ''; position: absolute; display: inline-block; width: 100px; height: 100px; border-radius: 45%; background: #92ceea; transform-origin: 50% 45%; opacity: 0.6; top: -5px; left: 8px; }

.darkmode .intro .bg-eff-box .bg-eff-circle-01 { background: #4e4e4e; }

.darkmode .intro .bg-eff-box .bg-eff-circle-01:before { background-color: #c3c3c3; }

.darkmode .intro .bg-eff-box .bg-eff-circle-01:after { background-color: #c3c3c3; }

.darkmode .intro .bg-eff-box .bg-eff-circle-02 { background: #4e4e4e; }

.darkmode .intro .bg-eff-box .bg-eff-circle-02:before { background-color: #c3c3c3; }

.darkmode .intro .bg-eff-box .bg-eff-circle-02:after { background-color: #c3c3c3; }

.intro .bg-eff-skew { position: absolute; bottom: -80px; left: 10%; display: block; width: 90%; height: 100px; background: #e88f0c; }

.darkmode .intro .bg-eff-skew { background-color: #333; }

/* skill */
.skill { margin-top: 130px; }

.skill .skill-list { margin-top: 50px; }

.skill .skill-list > li { float: left; width: 40%; min-height: 200px; margin-left: 10%; }

.skill .skill-list > li .skill-info dt { font-size: 2.5rem; font-weight: 700; }

.skill .skill-list > li .skill-info dt i { vertical-align: center; margin: 0 0 5px 5px; }

.skill .skill-list > li .skill-info dd .info-list li { position: relative; padding-left: 10px; word-break: keep-all; }

.skill .skill-list > li .skill-info dd .info-list li span { position: absolute; top: 0; left: 0; }

.skill .bg-eff-box .bg-eff-circle-01 { top: 150px; left: -230px; width: 120px; height: 120px; background: #60c4f2; }

.skill .bg-eff-box .bg-eff-circle-01:before { content: ''; position: absolute; display: inline-block; width: 120px; height: 120px; border-radius: 48%; background: #92ceea; transform-origin: 50% 42%; opacity: 1; top: 6px; left: 6px; }

.skill .bg-eff-box .bg-eff-circle-01:after { content: ''; position: absolute; display: inline-block; width: 110px; height: 110px; border-radius: 45%; background: #92ceea; transform-origin: 50% 45%; opacity: 0.6; top: 13px; left: -4px; }

.skill .bg-eff-box .bg-eff-circle-02 { bottom: 250px; right: -170px; width: 230px; height: 230px; background: #e88f0c; }

.skill .bg-eff-box .bg-eff-circle-02:before { content: ''; position: absolute; display: inline-block; width: 230px; height: 230px; border-radius: 48%; background: #fcbe62; transform-origin: 50% 42%; opacity: 0.4; top: 10px; left: 7px; }

.skill .bg-eff-box .bg-eff-circle-02:after { content: ''; position: absolute; display: inline-block; width: 230px; height: 230px; border-radius: 45%; background: #fcbe62; transform-origin: 50% 45%; opacity: 0.6; top: -4px; left: -4px; }

.darkmode .skill .bg-eff-box .bg-eff-circle-01 { background: #4e4e4e; }

.darkmode .skill .bg-eff-box .bg-eff-circle-01:before { background-color: #c3c3c3; }

.darkmode .skill .bg-eff-box .bg-eff-circle-01:after { background-color: #c3c3c3; }

.darkmode .skill .bg-eff-box .bg-eff-circle-02 { background: #4e4e4e; }

.darkmode .skill .bg-eff-box .bg-eff-circle-02:before { background-color: #c3c3c3; }

.darkmode .skill .bg-eff-box .bg-eff-circle-02:after { background-color: #c3c3c3; }

/* project */
.project-list { margin-top: 80px; }

.project-list > li { margin-top: 150px; }

.project-list > li:first-child { margin-top: 0; }

.project-box .project-img { width: 50%; margin-right: 10%; }

.project-box .project-img img { max-width: 100%; }

.project-box .project-info { width: 40%; }

.project-box .project-info .project-tit { font-size: 3.5rem; font-weight: 700; }

.project-box .project-info .site-info { margin-top: 20px; }

.project-box .project-info .site-info dt { margin-top: 15px; font-weight: 700; color: #e88f0c; }

.project-box .project-info .site-info dt:first-child { margin-top: 0; }

.darkmode .project-box .project-info .site-info dt { color: #fff; }

.darkmode .project-box .project-info .site-info dd { color: #c3c3c3; }

.project-box .project-info .site-info .site-link a { text-decoration: underline; }

.project-box .project-info .site-info .site-color span { display: inline-block; width: 24px; height: 24px; margin-right: 5px; font-size: 0; }

.project-box .project-info .site-feature { margin-top: 20px; }

.project-box .project-info .site-feature > li { position: relative; padding-left: 21px; word-break: keep-all; }

.project-box .project-info .site-feature > li i { position: absolute; top: 5px; left: 0; color: #e88f0c; }

.darkmode .project-box .project-info .site-feature > li i { color: #c3c3c3; }

.project-box .project-info .site-btn { display: block; margin-top: 20px; font-size: 0; }

.project-box .project-info .site-btn a { display: inline-block; width: 48.5%; margin-left: 3%; padding: 10px 30px; border: 1px solid #e88f0c; border-radius: 5px; box-shadow: 3px 3px 6px #c3c3c3; text-align: center; font-size: 1.6rem; font-weight: 700; color: #e88f0c; }

.project-box .project-info .site-btn a:first-child { margin-left: 0; }

.darkmode .project-box .project-info .site-btn a { border: 1px solid #c3c3c3; box-shadow: 3px 3px 6px #4e4e4e; color: #fff; }

/* footer */
.footer { margin-top: 50px; text-align: center; color: #fff; background: #e88f0c; }

.darkmode .footer { background-color: #333; }

.footer .link-list { margin-top: 30px; font-size: 0; }

.footer .link-list li { display: inline-block; margin-left: 20px; font-size: 2rem; }

.footer .link-list li:first-child { margin-left: 0; }

.footer .link-list li a { display: block; }

.footer .link-list li i { font-size: 3rem; }

.footer address { margin-top: 30px; }

.footer address i { margin-right: 5px; font-size: 2rem; }

.footer .copy { margin-top: 30px; font-size: 1.5rem; }

@media screen and (max-width: 768px) { .project-box .project-info .site-btn { display: block; margin-top: 20px; font-size: 0; }
  .project-box .project-info .site-btn a { display: block; width: 100%; margin: 0 auto; box-shadow: none; }
  .project-box .project-info .site-btn a:nth-child(n+2) { margin-top: 5px; } }

@media screen and (max-width: 640px) { /* common 공통 */
  html, body { font-size: 47%; }
  .wrap .inner { padding: 15% 6.25% 15% 6.25%; }
  .wrap .tit { font-size: 4.5rem; }
  .bg-eff-box { display: none; }
  /* header */
  .cont-top { background: url(../images/cont-top-bg-m.png) no-repeat 50% 50%/cover; background-color: #e88f0c; }
  .cont-top .inner { padding: 50% 6.25% 55% 6.25%; }
  .cont-top .tit-box .tit { font-size: 8rem; }
  /* intro */
  .intro .profile-wrap .profile-img { width: 100%; }
  .intro .profile-wrap .profile-info { width: 100%; margin-top: 10%; }
  .intro .profile-wrap .profile-info p { padding-left: 15%; font-size: 1.8rem; }
  .intro .bg-eff-skew { bottom: -5%; left: 10%; height: 50px; }
  /* skill */
  .skill { margin-top: 0; }
  .skill .skill-list { margin-top: 5%; }
  .skill .skill-list > li { float: left; width: 100%; min-height: auto; margin: 5% 0 0 5%; }
  /* project */
  .project-list { margin-top: 8%; }
  .project-list > li { margin-top: 15%; }
  .project-box .project-img { width: 100%; margin-right: 0; }
  .project-box .project-info { width: 100%; margin-top: 8%; }
  .project-box .project-info .site-info { margin-top: 4%; }
  .project-box .project-info .site-info dt { margin-top: 3%; }
  .project-box .project-info .site-feature { margin-top: 8%; }
  /* footer */
  .footer { margin-top: 0; }
  .footer .inner { padding: 10% 6.25%; }
  .footer .link-list { margin-top: 5%; }
  .footer .link-list li { display: inline-block; margin-left: 20px; font-size: 2rem; }
  .footer .link-list li:first-child { margin-left: 0; }
  .footer .link-list li a { display: block; }
  .footer .link-list li i { font-size: 5rem; }
  .footer address { margin-top: 5%; }
  .footer .copy { margin-top: 5%; } }
