@charset "UTF-8";
@import url(reset.css);
/* color */
/* font */
html, body { font-family: 'Noto Sans KR', '돋움', dotum, sans-serif; font-size: 62.5%; }

/* common 공통 */
.wrap { position: relative; min-width: 360px; font-size: 1.6rem; color: #333; }

.wrap.darkmode { color: #fff; }

.wrap .inner { position: relative; max-width: 1200px; margin: 0 auto; padding: 30px 20px; }

.tit { font-family: 'Pacifico', cursive, '돋움', dotum, sans-serif; }

.f-left { float: left; }

.f-right { float: right; }

/* header */
.cont-top { position: relative; color: #fff; background: url(../images/cont-top-bg.png) no-repeat top center/cover; background-color: #e88f0c; }

.darkmode .cont-top { background-color: #222; }

.cont-top .inner { padding: 220px 20px 280px 20px; }

.cont-top .btn-darkmode-wrap { position: absolute; top: 30px; right: 20px; display: inline-block; font-size: 0; }

.cont-top .btn-darkmode-wrap i { margin-right: 5px; font-size: 18px; vertical-align: top; }

.cont-top .btn-darkmode-wrap label { position: relative; display: inline-block; width: 45px; height: 20px; padding: 4px; border-radius: 20px; cursor: pointer; background-color: #c3c3c3; }

.cont-top .btn-darkmode-wrap label:after { content: ''; position: absolute; top: 4px; left: 4px; display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: #fff; }

.cont-top .btn-darkmode-wrap .btn-darkmode { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0, 0, 0, 0); }

.cont-top .btn-darkmode-wrap .btn-darkmode:checked + label { background-color: #fff; }

.cont-top .btn-darkmode-wrap .btn-darkmode:checked + label:after { left: 29px; background-color: #333; }

.cont-top .tit-box { text-align: center; }

.cont-top .tit-box .tit { font-size: 10rem; }

.cont-top .tit-box .txt { font-size: 2rem; }

.cont-top .arrow { position: absolute; bottom: 60px; left: 50%; transform: translate(-50%, 0); }
