@charset "UTF-8";
@import url(reset.css);
/* color */
/* font */
html, body { font-family: 'Noto Sans KR', '돋움', dotum, sans-serif; font-size: 62.5%; }

/* common 공통 */
.wrap { overflow: hidden; position: relative; min-width: 360px; font-size: 1.6rem; color: #333; }

.wrap.darkmode { color: #fff; background-color: #222; }

.wrap .inner { position: relative; max-width: 1200px; margin: 0 auto; padding: 60px 20px; }

.wrap .tit { font-family: 'Pacifico', cursive, '돋움', dotum, sans-serif; font-size: 5rem; text-align: center; }

.wrap .f-left { float: left; }

.wrap .f-right { float: right; }

.bg-eff-box .bg-eff-circle { position: absolute; display: inline-block; border-radius: 42%; }

/* header */
.cont-top { position: relative; color: #fff; background: url(../images/cont-top-bg.png) no-repeat 50% 50%/cover; background-color: #e88f0c; }

.darkmode .cont-top { background-color: #333; }

.cont-top .inner { padding: 300px 20px 380px 20px; }

.cont-top .btn-darkmode-wrap { position: absolute; top: 30px; right: 20px; display: inline-block; font-size: 0; }

.cont-top .btn-darkmode-wrap i { margin-right: 5px; font-size: 18px; vertical-align: top; }

.cont-top .btn-darkmode-wrap .btn-wrap { position: relative; display: inline-block; }

.cont-top .btn-darkmode-wrap .btn-wrap .btn-darkmode { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0, 0, 0, 0); }

.cont-top .btn-darkmode-wrap .btn-wrap .btn-darkmode:checked + label { background-color: #fff; }

.cont-top .btn-darkmode-wrap .btn-wrap .btn-darkmode:checked + label + .btn-handle { background-color: #333; }

.cont-top .btn-darkmode-wrap .btn-wrap label { display: inline-block; width: 45px; height: 20px; padding: 4px; border-radius: 20px; cursor: pointer; background-color: #c3c3c3; }

.cont-top .btn-darkmode-wrap .btn-wrap .btn-handle { position: absolute; top: 4px; left: 4px; display: inline-block; width: 12px; height: 12px; border-radius: 50%; background-color: #fff; }

.cont-top .tit-box { text-align: center; }

.cont-top .tit-box .tit { font-size: 10rem; }

.cont-top .tit-box .txt { font-size: 2rem; }

.cont-top .arrow { position: absolute; bottom: 60px; left: 50%; transform: translate(-50%, 0); }

/* container */
/* intro */
.intro { position: relative; }

.intro .inner { padding: 100px 20px 50px 20px; }

.intro .profile-wrap { position: relative; margin-top: 50px; }

.intro .profile-wrap .profile-img { width: 50%; }

.intro .profile-wrap .profile-img .profile { position: relative; display: block; width: 70%; height: 0; margin: 0 auto; padding-bottom: 70%; box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.7); background: url(../images/profile.png) no-repeat 0 0/100% 100%; }

.intro .profile-wrap .profile-img .profile:after { content: ''; position: absolute; top: 50px; left: -50px; display: inline-block; width: 84px; height: 26px; background: url(../images/bg-eff-wave-01.png) no-repeat 0 0; }

.intro .profile-wrap .profile-info { width: 50%; }

.intro .profile-wrap .profile-info p { padding-left: 15%; font-size: 1.8rem; }

.intro .bg-eff-box .bg-eff-circle-01 { top: 100px; left: -250px; width: 290px; height: 290px; background: #e88f0c; }

.intro .bg-eff-box .bg-eff-circle-01:before { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 290px; height: 290px; border-radius: 48%; background: #fcbe62; transform-origin: 50% 42%; opacity: 1; }

.intro .bg-eff-box .bg-eff-circle-01:after { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 290px; height: 290px; border-radius: 45%; background: #fcbe62; transform-origin: 50% 45%; opacity: 0.6; }

.intro .bg-eff-box .bg-eff-circle-02 { bottom: 130px; right: -100px; width: 120px; height: 120px; background: #60c4f2; }

.intro .bg-eff-box .bg-eff-circle-02:before { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 120px; height: 120px; border-radius: 48%; background: #92ceea; transform-origin: 50% 42%; opacity: 1; }

.intro .bg-eff-box .bg-eff-circle-02:after { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 120px; height: 120px; border-radius: 45%; background: #92ceea; transform-origin: 50% 45%; opacity: 0.6; }

.darkmode .intro .bg-eff-box .bg-eff-circle-01 { background: #4e4e4e; }

.darkmode .intro .bg-eff-box .bg-eff-circle-01:before { background-color: #c3c3c3; }

.darkmode .intro .bg-eff-box .bg-eff-circle-01:after { background-color: #c3c3c3; }

.darkmode .intro .bg-eff-box .bg-eff-circle-02 { background: #4e4e4e; }

.darkmode .intro .bg-eff-box .bg-eff-circle-02:before { background-color: #c3c3c3; }

.darkmode .intro .bg-eff-box .bg-eff-circle-02:after { background-color: #c3c3c3; }

.intro .bg-eff-skew { position: absolute; bottom: -80px; left: 10%; display: block; width: 90%; height: 100px; background: #e88f0c; }

.darkmode .intro .bg-eff-skew { background-color: #333; }

/* skill */
.skill { margin-top: 130px; }

.skill .skill-list { margin-top: 50px; }

.skill .skill-list > li { float: left; width: 40%; min-height: 200px; margin-left: 10%; padding: 10px; }

.skill .skill-list > li .skill-info dt { font-size: 2.5rem; font-weight: 700; }

.skill .skill-list > li .skill-info dt i { vertical-align: center; margin: 0 0 5px 5px; }

.skill .skill-list > li .skill-info dd .info-list li { position: relative; padding-left: 10px; word-break: keep-all; }

.skill .skill-list > li .skill-info dd .info-list li span { position: absolute; top: 0; left: 0; }

.skill .bg-eff-box .bg-eff-circle-01 { top: 150px; left: -230px; width: 120px; height: 120px; background: #60c4f2; }

.skill .bg-eff-box .bg-eff-circle-01:before { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 120px; height: 120px; border-radius: 48%; background: #92ceea; transform-origin: 50% 42%; opacity: 1; }

.skill .bg-eff-box .bg-eff-circle-01:after { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 120px; height: 120px; border-radius: 45%; background: #92ceea; transform-origin: 50% 45%; opacity: 0.6; }

.skill .bg-eff-box .bg-eff-circle-02 { bottom: 250px; right: -170px; width: 230px; height: 230px; background: #e88f0c; }

.skill .bg-eff-box .bg-eff-circle-02:before { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 230px; height: 230px; border-radius: 48%; background: #fcbe62; transform-origin: 50% 42%; opacity: 1; }

.skill .bg-eff-box .bg-eff-circle-02:after { content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 230px; height: 230px; border-radius: 45%; background: #fcbe62; transform-origin: 50% 45%; opacity: 0.6; }

.darkmode .skill .bg-eff-box .bg-eff-circle-01 { background: #4e4e4e; }

.darkmode .skill .bg-eff-box .bg-eff-circle-01:before { background-color: #c3c3c3; }

.darkmode .skill .bg-eff-box .bg-eff-circle-01:after { background-color: #c3c3c3; }

.darkmode .skill .bg-eff-box .bg-eff-circle-02 { background: #4e4e4e; }

.darkmode .skill .bg-eff-box .bg-eff-circle-02:before { background-color: #c3c3c3; }

.darkmode .skill .bg-eff-box .bg-eff-circle-02:after { background-color: #c3c3c3; }

/* project */
.project-list { margin-top: 80px; }

.project-list > li { margin-top: 150px; }

.project-list > li:first-child { margin-top: 0; }

.project-box .project-img { width: 50%; margin-right: 10%; }

.project-box .project-img img { max-width: 100%; }

.project-box .project-info { width: 40%; }

.project-box .project-info .project-tit { font-size: 3.5rem; font-weight: 700; }

.project-box .project-info .site-info { margin-top: 20px; }

.project-box .project-info .site-info dt { margin-top: 5px; font-weight: 700; color: #e88f0c; }

.project-box .project-info .site-info dt:first-child { margin-top: 0; }

.darkmode .project-box .project-info .site-info dt { color: #fff; }

.project-box .project-info .site-info .site-color span { display: inline-block; width: 16px; height: 16px; margin-right: 5px; font-size: 0; }

.project-box .project-info .site-feature { margin-top: 20px; }

.project-box .project-info .site-feature > li { position: relative; padding-left: 21px; word-break: keep-all; }

.project-box .project-info .site-feature > li i { position: absolute; top: 5px; left: 0; color: #e88f0c; }

.darkmode .project-box .project-info .site-feature > li i { color: #c3c3c3; }

.project-box .project-info .site-btn { display: block; margin-top: 20px; font-size: 0; }

.project-box .project-info .site-btn a { display: inline-block; margin-left: 10px; padding: 10px 30px; border: 1px solid #e88f0c; border-radius: 5px; box-shadow: 3px 3px 6px #c3c3c3; text-align: center; font-size: 1.6rem; font-weight: 700; color: #e88f0c; }

.project-box .project-info .site-btn a:first-child { margin-left: 0; }

.darkmode .project-box .project-info .site-btn a { border: 1px solid #c3c3c3; box-shadow: 3px 3px 6px #4e4e4e; color: #fff; }

/* footer */
.footer { margin-top: 50px; text-align: center; color: #fff; background: #e88f0c; }

.darkmode .footer { background-color: #333; }

.footer .link-list { margin-top: 30px; font-size: 0; }

.footer .link-list li { display: inline-block; margin-left: 20px; font-size: 2rem; }

.footer .link-list li:first-child { margin-left: 0; }

.footer .link-list li a { display: block; }

.footer .link-list li i { font-size: 3rem; }

.footer .copy { margin-top: 30px; font-size: 1.5rem; }
