@charset "UTF-8";

/* reset */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|Pacifico&subset=korean');
body, header, footer, section, nav, article, main, a, div, h1, h2, h3, h4, ul, li, dl, dt, dd, p, form, fieldset, legend, label, input, span, img, strong, video, address, i{margin: 0; padding: 0; box-sizing: border-box;}
header, footer, article, section, nav, main{display: block;}
ul, ol, dl, li{list-style: none;}
img, fieldset{border: none;}
h1, h2, h3, h4, h5, h6{font-weight: normal;}
address{font-style: normal;}
input, img, i{vertical-align: middle;}
button{-webkit-appearance: none; appearance: none; padding: 0; border:0; text-transform: none; cursor:pointer;}
button > span{position: relative;}

a:link, a:visited{text-decoration: none; color: #333;}
a:hover, a:active, a:focus{text-decoration: underline; color: #333;} 
.skip{overflow: hidden; visibility: hidden; position: absolute; left: -9999px; width: 1px; height: 1px; font-size: 0; line-height: 0;}

/* skip navigation */
#skipnavi{position: absolute; width: 100%; z-index: 9999;}
#skipnavi a{position: absolute; top: -100px;}
#skipnavi a:hover,
#skipnavi a:active,
#skipnavi a:focus{display: block; top: 0; width: 100%; padding: 10px 0; text-align: center; font-size: 16px; color: #fff; background: #333;}

/* clearfix */
.clearfix:after{content: ''; display: block; clear: both;}
