@charset "UTF-8";
@import url(reset.css);

/* color */
$orange : #e88f0c;
$lightorange : #fcbe62;
$blue : #60c4f2;
$skyblue : #92ceea;
$gray-4e : #4e4e4e;
$gray-c3 : #c3c3c3;
$black-333 : #333;
$black-222 : #222;
$white : #fff;

/* font */
html, body{
	font-family: 'Noto Sans KR', '돋움', dotum, sans-serif; 
	font-size: 62.5%;
}
@mixin pacifico{
	font-family: 'Pacifico', cursive, '돋움', dotum, sans-serif;
}

/* common 공통 */
.wrap{
	position: relative;
	min-width: 640px; 
	font-size: 1.6rem;
	color: $black-333;
	
	&.darkmode{
		color: $white;
	}
}
.wrap .inner{
	position: relative;
	max-width: 1200px;
	margin:0 auto;
	padding: 30px 20px;
}
.tit{
	@include pacifico
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}

/* header */
.cont-top{
	position: relative;
	color: $white;
	background: url(../images/cont-top-bg.png) no-repeat top center / cover;
	background-color: $orange;
	
	.darkmode &{
		background-color: $black-222;
	}
	.inner{
		padding: 220px 20px 280px 20px;
	}
	.btn-darkmode-wrap{
		position: absolute;
		top: 30px;
		right: 20px;
		display: inline-block;
		font-size: 0;	

		i{
			margin-right: 5px;
			font-size: 18px;
			vertical-align: top;
		}

		label{			
			position: relative;
			display: inline-block;
			width: 45px;
			height: 20px;
			padding: 4px;
			border-radius: 20px;
			cursor: pointer;
			background-color: $gray-c3;

			&:after{
				content: '';
				position: absolute;
				top: 4px;
				left: 4px;
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $white;
			}
		}
		
		.btn-darkmode{
			overflow: hidden;
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			border: 0;
			clip:rect(0,0,0,0);
			&:checked + label{
				background-color: $white;
				&:after{
					left: 29px;
					background-color: $black-333;
				}
			}
		}
	}
	.tit-box{
		text-align: center;
		.tit{
			font-size: 10rem;
		}
		.txt{
			font-size: 2rem;
		}
	}
	.arrow{
		position: absolute;
		bottom: 30px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

