@charset "UTF-8";
@import url(reset.css);

/* font */
@mixin pacifico{
	font-family: 'Pacifico', cursive, '돋움', dotum, sans-serif;
}

html, body, input{
	font-family: 'Noto Sans KR', '돋움', dotum, sans-serif; 
	font-size: 62.5%; 
	color: #333;
}

/* common 공통 */
.wrap{
	min-width: 640px; 
	font-size: 1.6rem;

	/* color */
	$orange : #e88f0c;
	$blue : #92ceea;
}
.wrap .inner{
	max-width: 1920px;
	margin:0 auto;
}
.tit{
	@include pacifico
}
.f-left{
	float: left;
}
.f-right{
	float: right;
}

