@charset "UTF-8";
@import url(reset.css);

/* color */
$orange : #e88f0c;
$lightorange : #fcbe62;
$blue : #60c4f2;
$skyblue : #92ceea;
$gray-4e : #4e4e4e;
$gray-c3 : #c3c3c3;
$black-333 : #333;
$black-222 : #222;
$white : #fff;

/* font */
html, body{
	font-family: 'Noto Sans KR', '돋움', dotum, sans-serif; 
	font-size: 62.5%;
}
@mixin pacifico{
	font-family: 'Pacifico', cursive, '돋움', dotum, sans-serif;
}

/* common 공통 */
.wrap{
	overflow: hidden;
	position: relative;
	min-width: 360px; 
	font-size: 1.6rem;
	color: $black-333;	
	&.darkmode{
		color: $white;
		background-color: $black-222;
	}
	.inner{
		position: relative;
		max-width: 1200px;
		margin:0 auto;
		padding: 60px 20px;
	}
	.tit{
		@include pacifico;
		font-size: 5rem;
		text-align: center;
	}
	.f-left{
		float: left;
	}
	.f-right{
		float: right;
	}
}

@mixin bg-eff-wave-01{
	content: ''; 
	position: absolute; 
	top: 50px; 
	left: -50px; 
	display: inline-block; 
	width: 84px; 
	height: 26px; 
	background: url(../images/bg-eff-wave-01.png) no-repeat 0 0;
}
@mixin bg-eff-wave-02{
	content: ''; 
	position: absolute; 
	top: 50px; 
	left: -50px; 
	display: inline-block; 
	width: 84px; 
	height: 26px; 
	background: url(../images/bg-eff-wave-02.png) no-repeat 0 0;
}
@mixin effCircle($w, $h, $br, $bgc, $tro, $op){
	position: absolute; 
	top: 0; 
	left: 0; 
	display: inline-block; 
	width: $w;
	height: $h;
	border-radius: $br;
	background: $bgc;
	transform-origin: $tro; 
	opacity: $op;
}
@mixin effCircle-dark{
	.darkmode &{
		.bg-eff-circle-01{
			background: $gray-4e;
			&:before{
				background-color: $gray-c3;
			}
			&:after{
				background-color: $gray-c3;
			}
		}
		.bg-eff-circle-02{
			background: $gray-4e;
			&:before{
				background-color: $gray-c3;
			}
			&:after{
				background-color: $gray-c3;
			}
		}
	}
}
.bg-eff-box{
	.bg-eff-circle{
		position: absolute; 
		display: inline-block; 
		border-radius: 42%; 
	}
}

/* header */
.cont-top{
	position: relative;
	color: $white;
	background: url(../images/cont-top-bg.png) no-repeat 50% 50% / cover;
	background-color: $orange;	
	.darkmode &{
		background-color: $black-333;
	}
	.inner{
		padding: 300px 20px 380px 20px;
	}
	.btn-darkmode-wrap{
		position: absolute;
		top: 30px;
		right: 20px;
		display: inline-block;
		font-size: 0;	
		i{
			margin-right: 5px;
			font-size: 18px;
			vertical-align: top;
		}
		label{			
			position: relative;
			display: inline-block;
			width: 45px;
			height: 20px;
			padding: 4px;
			border-radius: 20px;
			cursor: pointer;
			background-color: $gray-c3;
			&:after{
				content: '';
				position: absolute;
				top: 4px;
				left: 4px;
				display: inline-block;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				background-color: $white;
			}
		}
		.btn-darkmode{
			overflow: hidden;
			position: absolute;
			width: 1px;
			height: 1px;
			margin: -1px;
			padding: 0;
			border: 0;
			clip:rect(0,0,0,0);
			&:checked + label{
				background-color: $white;
				&:after{
					left: 29px;
					background-color: $black-333;
				}
			}
		}
	}
	.tit-box{
		text-align: center;
		.tit{
			font-size: 10rem;
		}
		.txt{
			font-size: 2rem;
		}
	}
	.arrow{
		position: absolute;
		bottom: 60px;
		left: 50%;
		transform: translate(-50%, 0);
	}
}

/* container */
/* intro */
.intro{
	position: relative;
	.inner{
		padding: 100px 20px 50px 20px;
	}
	.profile-wrap{
		position: relative;
		margin-top: 50px;
		.profile-img{
			width: 50%;
			.profile{
				position: relative;
				display: block;
				width: 70%;
				height: 0;
				margin: 0 auto;
				padding-bottom: 70%;
				box-shadow: 5px 5px 0 rgba(0,0,0,0.7);
				background: url(../images/profile.png) no-repeat 0 0 / 100% 100%;
				&:after{
					@include bg-eff-wave-01;
				}
			}
		}
		.profile-info{
			width: 50%;
			p{
				padding-left: 15%;
				font-size: 1.8rem;
			}
		}
	}
	.bg-eff-box{
		.bg-eff-circle-01{
			top: 100px; 
			left: -250px; 
			width: 290px; 
			height: 290px; 
			background: $orange;
			&:before{
				content: ''; 
				@include effCircle(290px, 290px, 48%, $lightorange, 50% 42%, 1);
			}
			&:after{
				content: ''; 
				@include effCircle(290px, 290px, 45%, $lightorange, 50% 45%, 0.6);
			}
		}
		.bg-eff-circle-02{
			bottom: 130px; 
			right: -100px; 
			width: 120px; 
			height: 120px; 
			background: $blue;
			&:before{
				content: ''; 
				@include effCircle(120px, 120px, 48%, $skyblue, 50% 42%, 1);
			}
			&:after{
				content: ''; 
				@include effCircle(120px, 120px, 45%, $skyblue, 50% 45%, 0.6);
			}
		}
		@include effCircle-dark;
	}
	.bg-eff-skew{
		position: absolute;
		bottom: -80px;
		left: 10%;
		display: block;
		width: 90%; 
		height: 100px; 
		background: $orange; 
		.darkmode &{
			background-color: $black-333;
		}
	}
}

/* skill */
.skill{
	margin-top: 130px;
	.skill-list{
		margin-top: 50px;
		> li{
			float: left;
			width: 40%;
			min-height: 200px;
			margin-left: 10%;
			padding: 10px;		
			.skill-info{
				dt{
					font-size: 2.5rem;
					font-weight: 700;
					i{
						vertical-align: center;
						margin: 0 0 5px 5px;
					}
				}
				dd{
					.info-list{
						li{
							position: relative;
							padding-left: 10px;
							word-break: keep-all;
							span{
								position: absolute;
								top: 0;
								left: 0;
							}
						}
					}
				}
			}
		}
	}

	.bg-eff-box{
		.bg-eff-circle-01{
			top: 150px; 
			left: -230px; 
			width: 120px; 
			height: 120px; 
			background: $blue;
			&:before{
				content: ''; 
				@include effCircle(120px, 120px, 48%, $skyblue, 50% 42%, 1);
			}
			&:after{
				content: ''; 
				@include effCircle(120px, 120px, 45%, $skyblue, 50% 45%, 0.6);
			}
		}
		.bg-eff-circle-02{
			bottom: 250px; 
			right: -170px; 
			width: 230px; 
			height: 230px; 
			background: $orange;
			&:before{
				content: ''; 
				@include effCircle(230px, 230px, 48%, $lightorange, 50% 42%, 1);
			}
			&:after{
				content: ''; 
				@include effCircle(230px, 230px, 45%, $lightorange, 50% 45%, 0.6);
			}
		}
		@include effCircle-dark;
	}
}

/* project */
.project-list{
	margin-top: 80px;
	> li{
		margin-top: 150px;
		&:first-child{
			margin-top: 0;
		}
	}
}
.project-box{
	.project-img{
		width: 50%;
		margin-right: 10%;
		img{
			max-width: 100%;
		}
	}
	.project-info{
		width: 40%;
		.project-tit{
			font-size: 3.5rem;
			font-weight: 700;
		}
		.site-info{
			margin-top: 20px;
			dt{
				margin-top: 5px;
				font-weight: 700;
				color: $orange;
				&:first-child{
					margin-top: 0;
				}
				.darkmode &{
					color: $white
				}
			}
			.site-color{
				span{
					display: inline-block;
					width: 16px;
					height: 16px;
					margin-right: 5px;
					font-size: 0;
				}
			}
		}
		.site-feature{
			margin-top: 20px;
			> li{
				position: relative;
				padding-left: 21px;
				word-break: keep-all;
				i {
					position: absolute;
					top: 5px;
					left: 0;
					color: $orange;
					.darkmode &{
						color: $gray-c3;
					}
				}
			}
		}
		.site-btn{
			display: block;
			margin-top: 20px;
			font-size: 0;
			a{
				display: inline-block;
				margin-left: 10px;
				padding: 10px 30px;
				border: 1px solid $orange;
				border-radius: 5px;
				box-shadow: 3px 3px 6px $gray-c3;
				text-align: center;
				font-size: 1.6rem;
				font-weight: 700;
				color: $orange;
				&:first-child{
					margin-left: 0;
				}
				.darkmode &{
					border: 1px solid $gray-c3;
					box-shadow: 3px 3px 6px $gray-4e;
					color: $white;
				}
			}
		}
	}
}

/* footer */
.footer{
	margin-top: 50px;
	text-align: center;
	color: $white;
	background: $orange;
	.darkmode &{
		background-color: $black-333;
	}
	.link-list{
		margin-top: 30px;
		font-size: 0;
		li{
			display: inline-block;
			margin-left: 20px;
			font-size: 2rem;
			&:first-child{
				margin-left: 0;
			}
			a{
				display: block;
			}
			i{
				font-size: 3rem;
			}
		}
	}
	.copy{
		margin-top: 30px;
		font-size: 1.5rem;
	}
}