@charset "UTF-8";
@import url(reset-190205.css);

#wrap{position: relative; width: 100%;}

/* header */
#header{overflow: hidden; position: relative; width: 100%; height: 100vh; background: #e88f0c;}
.main_visual .visual1{display: block; position: absolute; top: 12%; left: 5%; width: 394px; height: 394px; border-radius: 50%; background: url(../images/visual1.png) no-repeat;}
.main_visual .visual2{display: block; position: absolute; top: 40%; left: 17%; width: 211px; height: 211px; border-radius: 50%; background: url(../images/visual2.png) no-repeat;}
.main_visual .visual3{display: block; position: absolute; top: 0; left: 33%; width: 107px; height: 107px; border-radius: 50%; background: url(../images/visual3.png) no-repeat;}
.main_visual .visual4{display: block; position: absolute; top: 37%; right: 35%; width: 55px; height: 55px; border-radius: 50%; background: url(../images/visual4.png) no-repeat;}
.main_visual .visual5{display: block; position: absolute; top: 0; right: 10%; width: 332px; height: 332px; border-radius: 50%; background: url(../images/visual5.png) no-repeat;}
.main_visual .visual6{display: block; position: absolute; bottom: 15%; left: 20%; width: 318px; height: 318px; border-radius: 50%; background: url(../images/visual6.png) no-repeat;}
.main_visual .visual7{display: block; position: absolute; bottom: 8%; right: 12%; width: 454px; height: 454px; border-radius: 50%; background: url(../images/visual7.png) no-repeat;}
.main_visual .visual8{display: block; position: absolute; bottom: 35%; right: 10%; width: 121px; height: 121px; border-radius: 50%; background: url(../images/visual8.png) no-repeat;}

.header{position: relative; width: 1600px; height: 100%; margin: 0 auto;}
#nav{position: absolute; top: 60px; left: 120px; z-index: 2;}
#nav h1 a{display: inline-block; width: 60px; height: 60px;}
.title{position: relative; width: 1600px; height: 100%; margin: 0 auto; text-align: center; color: #fff; z-index: 1;}
.title p{position: absolute; top: 60%; left: 50%; transform: translate(-50%, 50%); opacity: 0; animation: txtp 1s 1.3s ease; animation-fill-mode: forwards;}
.arrow{position: absolute; bottom: 30px; left: 50%; transform: translate(-50%, 0); font-size: 32px; color: #fff; z-index: 1; animation: arrow 0.8s linear infinite alternate;}

/* header -eff */
.txt1{position: absolute; top: 50%; left: 37%; opacity: 0; animation: txt1 1s 0.3s ease; animation-fill-mode: forwards;}
.txt2{position: absolute; top: 50%; left: 41%; opacity: 0; animation: txt2 1s 0.4s ease; animation-fill-mode: forwards;}
.txt3{position: absolute; top: 45%; left: 44%; opacity: 0; animation: txt3 1s 0.5s ease; animation-fill-mode: forwards;}
.txt4{position: absolute; top: 44%; left: 47%; opacity: 0; animation: txt4 1s 0.6s ease; animation-fill-mode: forwards;}
.txt5{position: absolute; top: 43%; left: 50%; opacity: 0; animation: txt5 1s 0.7s ease; animation-fill-mode: forwards;}
.txt6{position: absolute; top: 43%; left: 54%; opacity: 0; animation: txt6 1s 0.8s ease; animation-fill-mode: forwards;}
.txt7{position: absolute; top: 42%; left: 56.5%; opacity: 0; animation: txt7 1s 0.9s ease; animation-fill-mode: forwards;}
.txt8{position: absolute; top: 42%; left: 59%; opacity: 0; animation: txt8 1s 1s ease; animation-fill-mode: forwards;}
.txt9{position: absolute; top: 42%; left: 60%; opacity: 0; animation: txt9 1s 1.1s ease; animation-fill-mode: forwards;}

/* container */
#container{position: relative; width: 100%;}

/* intro */
.introwrap{position: relative; width: 100%; margin-bottom: 150px;}
.intro{position: relative; width: 1600px; margin: 0 auto; padding-top: 100px;}
.intro h3{margin-bottom: 70px;}

.profilewrap{float: left; width: 800px; height: 480px; text-align: right;}
.profile{position: relative; display: inline-block; width: 430px; height: 430px; margin: 0 85px 50px 0; background: url(../images/profile.png) no-repeat 0 0; box-shadow: 5px 5px 0 rgba(0,0,0,0.7);}
.profile:after{content: ''; position: absolute; top: 50px; left: -50px; display: inline-block; width: 84px; height: 26px; background: url(../images/wave1.png) no-repeat 0 0;}
.profile_txt{float: left; width: 800px; height: 480px; padding: 65px 0 0 85px;}
.profile_txt p{font-size: 22px;}
.profile_txt strong{font-weight: 700;}

.intro .eff .circle1{display: inline-block; position: absolute; top: 70px; left: 0; width: 290px; height: 290px; border-radius: 42%; background: #fcbe62; transform-origin: 50% 47%; animation: rotate 9s linear infinite;}
.intro .eff .circle1:before{content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 290px; height: 290px; border-radius: 48%; background: rgba(252,213,156,0.5); transform-origin: 50% 42%; animation: rotate 8s linear infinite;}
.intro .eff .circle1:after{content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 290px; height: 290px; border-radius: 45%; background: #e88f0c; transform-origin: 50% 45%; animation: rotate 10s linear infinite;}

.intro .eff .circle2{display: inline-block; position: absolute; bottom: 40%; right: 95px; width: 120px; height: 120px; border-radius: 45%; background-color: #60c4f2; transform-origin: 50% 42%; animation: rotate 8s linear infinite;}
.intro .eff .circle2:before{content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 120px; height: 120px; border-radius: 48%; background-color: #92ceea; transform-origin: 50% 45%; animation: rotate 9s linear infinite;}
.intro .eff .circle2:after{content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 120px; height: 120px; border-radius: 42%; background-color: rgba(191,229,246,0.5); transform-origin: 50% 48%; animation: rotate 10s linear infinite;}
.skewbox{display: block; position: absolute; bottom: 0; left: 10%; width: 90%; height: 100px; background: #e88f0c; z-index: -1;}

/* skill */
.skillwrap{position: relative; width: 100%; height: 700px; margin-bottom: 150px;}
.skill{position: relative; width: 1600px; margin: 0 auto;}

.skill_title{width: 1600px; height: 400px; text-align: center;}
.skill_title h3{position: relative; display: inline-block; width: 290px; height: 290px; line-height: 290px; background: #92ceea; box-shadow: 40px 40px 0 #e88f0c;}
.skill_title h3:after{content: ''; position: absolute; bottom: 30px; right: -100px; display: inline-block; width: 84px; height: 26px; background: url(../images/wave2.png) no-repeat 0 0;}

.skill_txtwrap{width: 1600px; height: 250px; margin-top: 50px;}
.skill_txt{float: left; width: 300px; height: 250px; margin-left: 25px; padding-left: 20px; box-shadow: 1px 1px 2px rgba(0,0,0,0.2);}
.skill_txt:first-child{margin-left: 0;}

.skill_txt dt{font-weight: 700; font-size: 28px; margin: 15px;}
.skill_txt dt i{padding-left: 5px; color: #e88f0c;}
.skill_txt .coloreff i{color: #92ceea;}
.skill_txt dd{font-size: 16px;}

.skill .eff .circle1{display: inline-block; position: absolute; top: 100px; left: 120px; width: 230px; height: 230px; border-radius: 40%; background: #60c4f2; transform-origin: 50% 44%; animation: rotate 9s linear infinite;}
.skill .eff .circle1:before{content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 230px; height: 230px; border-radius: 42%; background: rgba(191,229,246,0.5); transform-origin: 50% 41%; animation: rotate 8s linear infinite;}
.skill .eff .circle1:after{content: ''; display: inline-block; position: absolute; top: 0; left: 0; width: 230px; height: 230px; border-radius: 48%; background: #92ceea; transform-origin: 50% 43%; animation: rotate 10s linear infinite;}

.skill .eff .circle2{display: inline-block; position: absolute; top: 0; right: 170px; width: 140px; height: 140px; border-radius: 40%; background-color: #60c4f2; transform-origin: 50% 42%; animation: rotate 7s linear infinite;}
.skill .eff .circle2:before{content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 140px; height: 140px; border-radius: 43%; background-color: #fcbe62; transform-origin: 50% 45%; animation: rotate 9s linear infinite;}
.skill .eff .circle2:after{content: ''; position: absolute; top: 0; left: 0; display: inline-block; width: 140px; height: 140px; border-radius: 48%; background-color: #e88f0c; transform-origin: 50% 48%; animation: rotate 8s linear infinite;}

/* work  */
.workwrap{position: relative; width: 100%;}
.bg_eff{position: absolute; top: 50px; left: 0; width: 100%; height: 200px; background: #d9d9d9; transform: skewY(-4deg);}

.work_title{width: 1600px; margin: 0 auto; text-align: center; margin-bottom: 150px;}
.work_title h3{position: relative; display: inline-block; width: 290px; height: 290px; line-height: 290px; border-radius: 50%; background: #92ceea; box-shadow: 40px 0 0 #e88f0c;}

.project{width: 1600px; margin: 0 auto 100px auto;}
.proimg{position: relative; float: left; width: 800px; height: 550px;}
.proimg1{background: url(../images/site1.png) no-repeat 0 0;}
.proimg2{background: url(../images/site2.png) no-repeat 0 0;}
.proimg3{background: url(../images/site3.png) no-repeat 0 0;}
.proimg4{background: url(../images/site4.png) no-repeat 0 0;}

.proimg_move{position: absolute; bottom: 48px; right: 57px; display: inline-block; width: 351px; height: 218px;}
.move1{background: url(../images/move1.gif) no-repeat 55% 0 / 150% 110%;}
.move2{background: url(../images/move2.gif) no-repeat 0 0 / 100% 100%;}
.move4{background: url(../images/move4.gif) no-repeat 0 0 / 100% 100%;}

.protxt{float: left; width: 800px; height: 550px; padding-left: 50px;}
.protxt h4{margin: 50px 0; font-size: 48px;}

.site_info{width: 750px; margin-bottom: 40px;}
.site_info dt{float: left; width: 250px; font-weight: 700; color: #e88f0c;}
.site_info dd{float: left; width: 500px;}
.site_info .site_link{font-weight: 700;}
.site_info dd:last-child span{display: inline-block; width: 17px; height: 17px; margin-right: 3px;}
.site1 .color1{background: #ff9000;}
.site1 .color2{background: #fca330;}
.site2 .color1{background: #391000;}
.site2 .color2{background: #feb62e;}
.site3 .color1{background: #d32234 ;}
.site3 .color2{background: #1d1d1d;}
.site4 .color1{background: #ff646e;}
.site4 .color2{background: #0e2980;}

.site_feature{margin-bottom: 40px;}
.site_feature i{padding-right: 5px; font-size: 20px; color: #e88f0c;}

.btn a{display: inline-block; position: relative; width: 200px; height: 50px; border: 2px solid #e88f0c; border-radius: 5px; text-align: center; line-height: 50px; text-decoration: none; color: #e88f0c; transition: 0.5s;}
.btn a:after{content: ''; position: absolute; top: -1px; left: -1px; display: block; width: 0; height: 50px; border-radius: 5px; background: #e88f0c; transition: 0.5s; z-index: -1;}
.btn a:hover{color: #fff;}
.btn a:hover:after{width: 200px;}
.btn .viewsite{margin-right: 30px;}

/* footer */
#footer{width: 100%; height: 450px; background: #e88f0c;}
.footer{width: 1600px; margin: 0 auto; text-align: center; color: #fff;}
.footer_title{padding-top: 50px;}
.git{margin: 70px 0;}
.git a{color: #fff; text-decoration: none;}
.git a:hover i{transform: scale(1.1);}
.git a i{font-size: 48px; transition: 0.5s;}

/* animation */
/* header */
@keyframes txt1{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txt2{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txt3{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txt4{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txt5{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txt6{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txt7{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txt8{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txt9{
	0%{}
	100%{position: absolute; top: 35%; opacity: 1; }
}
@keyframes txtp{
	0%{}
	100%{position: absolute; top: 50%; opacity: 1; }
}

@keyframes arrow{
	0%{bottom: 10%;}
	100%{bottom: 13%;}
}

/* container */
@keyframes rotate{
	0%{transform: rotate(0deg);}
	100%{transform: rotate(360deg);}
}

/* 
	color
	메인 컬러: #e88f0c(주황)
	보조 컬러: #92ceea(파랑)
*/


